name: prompt_optimizer
description: A Flutter app for optimizing prompts using AI.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_sign_in: ^6.2.1
  http: ^1.2.1
  provider: ^6.1.2
  flutter_secure_storage: ^9.2.2
  intl: ^0.19.0
  timeago: ^3.7.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
